{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./client"],
      "alias": {
        "actions": "actions",
        "api": "api",
      }
    }]
  ]
}
